body {
    margin: 0;
    font-family: 'Proxima Nova', Fallback, sans-serif;
    background-color: #1a1a1a;
    color: white;
}

.header h1 {
    font-size: 72px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #2e2e2e;
}

.topnav a {
    float: left;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #003399;
    color: white;
}

.topnav a:hover {
    background-color: whitesmoke;
    color: black;
    transition-duration: 0.5s;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .tutorial {
    border: none;
    outline: none;
    font-size: 17px;
    padding: 14px 16px;
    background-color: inherit;
    color: white;
    margin: 0;
}

.subnav:hover .tutorial {
    background-color: whitesmoke;
    color: black;
    transition-duration: 0.5s;
}

.subnav-body {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    left: 0;
    z-index: 1;
}

.subnav-body a {
    float: left;
    color: black;
    text-decoration: none;
}

.subnav-body a:hover {
    background-color: #2e2e2e;
    color: white;
    transition-duration: 0.5s;
}

.subnav:hover .subnav-body {
    display: block;
}

.content {
    margin-top: 100px;
    margin-left: 100px;
}

.footer {
    background-color: #2e2e2e;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}